body {
  font-family: 'Open Sans', sans-serif;
}

th {
  width: 167px;
  height: 50px;
}

/* Font Classes */
.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-36 {
  font-size: 36px;
}

/* Landing Page verbiage */
.text-1a, .text-1b {
  margin: 0;
}

/* Blue Section #1 - container used for all blue sections */
.box-1 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #3B8DBF;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 0px 1px 10px #1A4456;
}

.blue {
  font-weight: 600;
  text-align: center;
}

/* Container used for all comment bubble sections */
.comment-boxes {
  padding-top: 100px;
  text-align: center;
}

.comment-bubble img, .comment-bubble p {
  margin: 5px;
  display: inline-block;
}

.comment-bubble p {
  font-style: italic;
  font-weight: 700;
  color: #4F4F4F;
  letter-spacing: 2px;
}

/* White Section #1 with table */
.local-gym-col,
#startup-fee-row,
#annual-fee-row,
#monthly-fee-row {
  margin: 5px;
  font-weight: 300;
}

.local-gym-col {
  background-color: #7A008640;
}

/* White Section #2 with Intencity and Interval information*/
.fitness-apps {
  padding-top: 100px;
  padding-bottom: 100px;
}

.app-logo {
  margin-right: 92px;
  padding-top: 20px;
  text-align: right;
}

.app-info {
  margin-left: 100px;
}

.intencity-interval-app-verbiage {
  margin-right: 0;
  margin-left: 0;
}

.application-information-section1,
.application-information-section1a {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  color: #4F4F4F;
  letter-spacing: 1px;
}

.application-information-section2 {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #828282;
  letter-spacing: 1px;
}

.small-gray-line-separator {
  margin-top: 45px;
  margin-bottom: 45px;
  width: 50px;
  height: 1px;
  background-color: #BDBDBD;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}

/* Footer Section */
.footer-row {
  justify-content: center;
}

/* Top Banner */
#banner {
  position: absolute;
  padding: 18px;
  display: flex;
  box-shadow: 0px 1px 10px #1A4456;
  background-color: #fff;
  z-index: 1;
}

#fitnest-logo {
  flex: 1;
}

#fitnest-logo img {
  height: 32px;
}

#start {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4F4F4F;
  text-decoration: none;
}

#start a:link {
  color: #4F4F4F;
}

#start a:visited {
  color: #4F4F4F;
}

#start a:hover {
  color: #4F4F4F;
}

#start a:active {
  color: #4F4F4F;
}

/* Landing Page with runner background */
#wrapper-landing {
  background-image: url('../images/background.jpg');
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#landing-page {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

#landing-container {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

#percent-statistic {
  justify-content: center;
  /* display: flex; */
}

/* #percentage {
  align-self: center;
} */
#percentage img {
  align-self: center;
  height: 100%;
}

#vertical-line {
  margin: 0 30px;
  width: 2px;
  height: 100%;
  background-color: #3B8DBF;
}

#text-1 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: left;
}

#more {
  text-align: center;
}

#arrow {
  position: absolute;
  bottom: 20px;
}

#arrow p {
  margin: 0;
  letter-spacing: 2px;
  color: #fff;
}

/* Blue Section #1 */
#blue-1 {
  padding: 0 36px;
  font-weight: 600;
}

#blue-1 ul {
  display: inline-block;
  text-align: left;
}

#strength-training {
  padding-bottom: 6px;
}

/* White Section #1 with list of Fitness Goals */
#goals {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  display: flex;
}

#flag-container {
  margin: 0 auto;
}

#flag-wrapper {
  display: flex;
}

#flag {
  align-self: center;
  padding-left: 50px;
  padding-right: 50px;
}

#flag img {
  height: 130px;
}

#list-of-needs {
  margin: 12px;
  flex: 1;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
  color: #4F4F4F;
}

#list-of-needs p {
  margin-bottom: 0;
}

#needs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#needs li {
  margin-left: 12px;
  padding-left: 30px;
  font-weight: 300;
  background: url('../images/checkmark.svg') no-repeat left;
  background-size: 20px 20px;
}

#blue-line {
  margin: 100px auto auto;
  height: 1px;
  width: 70%;
  background-color: #3B8DBF;
}

/* Table showing gym and trainer prices */
#table {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  letter-spacing: 1px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

#table-wrapper {
  padding: 100px 0;
}

#gym img, #trainer img {
  height: 45px;
}

#header-row p {
  margin: 5px;
  font-weight: 300;
}

#trainer-col-50-purple {
  background-color: #25006335;
  font-weight: 300;
}

#local-gym-col-218-purple {
  background-color: #7A008670;
}

#trainer-col-600-purple {
  background-color: #25006375;
}

#disclaimer {
  margin: 0;
  padding: 100px 20px;
  text-align: center;
}

#disclaimer p {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}

/* Blue Section #2 */
#but p {
  font-style: italic;
}

/* White Section #2 with Intencity and Interval information */
#gray-line {
  margin: auto;
  width: 100px;
  height: 1px;
  background-color: #BDBDBD;
  justify-content: center;
}

/* Gray Section with email and sign-up options  */
#gray-box {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #828282;
  color: #fff;
  letter-spacing: 1px;
}

#gray {
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

#gray span {
  font-style: italic;
}

#gray-2 {
  font-weight: 200;
  letter-spacing: 2px;
}

#email-signup {
  text-align: center;
}

#email-address, #button {
  padding: 5px;
  position: relative;
  display: inline-block;
}

#enter-email {
  font-weight: 300;
  letter-spacing: 1px;
  width: 400px;
  height: 52px;
  border-radius: 100px / 108px;
  text-align: center;
  outline: 0;
  border: 0;
}

#sign-up {
  color: #fff;
  background-color: #77BDD9;
  letter-spacing: 1px;
  width: 120px;
  height: 52px;
  border-radius: 100px / 108px;
  border-color: #77BDD9;
  text-align: center;
  box-shadow: 0px 6px 16px -9px #1A4456;
}

/* Footer Section */
#footer {
  padding-top: 60px;
  padding-bottom: 30px;
  justify-content: center;
}

#references-left-side {
  margin-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#social-media-right-side {
  margin-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#references {
  font-style: italic;
  font-weight: 600;
  color: #828282;
  letter-spacing: 1px;
}

#article1 a, #article2 a {
  font-weight: 300;
  color: #828282;
  text-decoration: none;
}

#copyright {
  margin-top: 30px;
  font-weight: 300;
  color: #828282;
}

#share {
  font-style: italic;
  font-weight: 600;
  color: #828282;
  letter-spacing: 1px;
}

#social-media img {
  padding: 0 5px;
}

/* Media Queries for Portrait Views */
@media only screen and (orientation: portrait) and (max-width: 995px) {
  #percent-statistic {
    justify-content: left;
  }

  #percentage img {
    padding-bottom: 20px;
  }

  #vertical-line {
    display: none;
  }

  .verbiage-about-application {
    margin-top: 30px;
  }

  .application-information-section1, .application-information-section1a {
    display: inline;
  }

  .app-logo {
    margin-right: 90px;
    padding: 0;
  }

  .app-info {
    margin: 0;
    padding: 0;
  }

  .no-margin {
    display: block;
  }

  .small-gray-line-separator {
    margin: 30px auto;
  }
}

/* Media Queries for Portrait Views */
@media only screen and (orientation: portrait) and (max-width: 700px) {
  th {
    width: 101px;
  }

  .font-size-30 {
    font-size: 28px;
  }

  #percent-statistic {
    justify-content: left;
  }

  #percentage img {
    padding-bottom: 20px;
    width: 220px;
  }

  #vertical-line {
    display: none;
  }

  #flag-wrapper {
    display: block;
  }

  #list-of-needs {
    padding-top: 20px;
  }

  #table {
    font-size: 12px;
  }

  #gym img, #trainer img {
    height: 35px;
  }

  .verbiage-about-application {
    margin-top: 30px;
  }

  .app-logo {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .app-info {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .no-margin {
    display: block;
  }

  .small-gray-line-separator {
    margin: 30px auto;
  }

  #header-row p {
    margin: 5px 13px;
  }

  #enter-email {
    width: 330px;
  }
}

/* Media Queries for Landscape Views */
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .font-size-18.text-1b {
    font-size: 16px;
  }

  .font-size-30.text-1b {
    font-size: 22px;
  }

  .container#landing-page {
    max-width: 620px;
  }

  .application-information-section1, .application-information-section1a {
    display: inline;
  }

  .apple-google-store-images img {
    width: 127px;
  }

  .app-logo {
    margin-right: 50px;
    padding: 0;
  }

  .app-logo img {
  }

  .app-info {
    margin: 0;
    padding: 0;
  }

  .small-gray-line-separator {
    margin-top: 25px;
    margin-bottom: 45px;
  }

  #percentage img {
    width: 162px;
  }

  #vertical-line {
    margin: 0 20px;
  }
}
